/* plugins & frameworks ajustment
 */
/* bootstrap */
body,
body.modal-open { /* bug in 3.0.0 ? */
    overflow-y: scroll;
    margin-right: 0;
}
.navbar-collapse.in { /* bug in 3.0.0 */
    overflow-y: visible;
}
.nav-icon {
    margin : -8px 0 -8px 0 ;
    width  : 36px          ;
    height : 36px          ;
}
.dropdown-menu li div#___plus_0 {
    max-width: 50px;
}
.list-group-item {
    padding: 10px 15px;
}
.panel-primary > .badge {
    color: #428bca;
    background-color: #ffffff;
}
/* elements
 */
/* button & link */
/* text */
.limit-len {
    display          : inline-block;
    white-space      : nowrap;
    word-break       : keep-all;
    text-overflow    : ellipsis;
    -o-text-overflow : ellipsis;
    overflow         : hidden;
}
.limit-len.on-hover:hover {
    max-width: 30em;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
/* attributes
 */
/* margin & padding */
.margin0         { margin        : 0em   ; }
.margin1         { margin        : 1em   ; }
.margin05        { margin        : 0.5em ; }
.margin-bottom05 { margin-bottom : 0.5em ; }
.margin-bottom1  { margin-bottom : 1em   ; }
.margin-right1   { margin-right  : 1em   ; }
.padding0        { padding       : 0em   ; }
.padding1        { padding       : 1em   ; }
.padding05       { padding       : 0.5em ; }
.padding-top1    { padding-top   : 1em   ; }
/* zindex */
.minz-index { z-index: 0   ; }
.maxz-index { z-index: 1500; }
/* length */
.len3  { max-width: 3em ; }
.len4  { max-width: 4em ; }
.len5  { max-width: 5em ; }
.len7  { max-width: 7em ; }
.len9  { max-width: 9em ; }
.len12 { max-width: 12em; }
/* size */
.w100      { width : 100px ;                 }
.h2em      { height: 2em   ;                 }
.w320-h240 { width : 320px ; height: 240px ; }
.w128-h128 { width : 128px ; height: 128px ; }
.w500-h300 { width : 500px ; height: 300px ; }
.w100per   { width : 100%  ; }
.w5per     { width : 5%    ; }
.w10per    { width : 10%   ; }
.w15per    { width : 15%   ; }
.w20per    { width : 20%   ; }
.w30per    { width : 30%   ; }
.w33per    { width : 33%   ; }
.w45per    { width : 45%   ; }
.w80per    { width : 80%   ; }
.h100per   { height: 100%  ; }
/* color */
.color-d   { color: #ddd;}
.color-fee { color: #fee;}
.color-f00 { color: #f00;}
.color-efe { color: #efe;}
/* background-color */
.bg-color-d   { background-color: #ddd; }
.bg-color-f   { background-color: #fff; }
.bg-color-fee { background-color: #fee; }
.bg-color-efe { background-color: #efe; }
/* border radius */
.border-r-1  { border-radius: 1em  }
.border-r-05 { border-radius: .5em }
/* float */
.float-right { float: right; }
/* cursor */
.cursor-pointer { cursor: pointer; }
