
body {
    text-align: center;
}

div.width-40percent,
div.width-50percent,
div.width-60percent {
    float: left;
}

div.width-40percent {
    width: 40%;
}

div.width-50percent {
    width: 50%;
}

div.width-60percent {
    width: 60%;
}

