---
layout: base
base_url: "../"
slug: multimedia&game
title: game in js-projects
extra_desc: games related projects
extra_keywords: game games multimedia&game
tags:
  - category: multimedia&game
    contents:
      - sort: games
        total_amount: 19
        finished_amount: 0
        is_collapsed: 0
        links:
          - name: battleship
            is_finished: 0
            description: Create two game boards and let each player place a number of war ships. Each player cant see the other persons board. They then take turns firing at one another by guessing one of the board squares. If the square they guess contains part of a ship, it is a hit. Otherwise it is a miss. They sink a ship when all squares containing that particular ship have been uncovered. The player wins when all their opponents ships have been sunk.
          - name: black-jack
            is_finished: 0
            description: Also known as 21 make a game where the goal is to get as close to 21 without going over using a standard 52 card deck. The user plays against a dealer who has to sit on any value 17 or under.
          - name: breakout
            is_finished: 0
            description: A classic arcade game breakout involves a series of blocks at the top of the screen and using a paddle bounces a steel ball against the blocks to destroy them. Just dont miss the ball or else you will lose.
          - name: chess-and-checkers
            is_finished: 0
            description: Simply put a game of chess or checkers. Try to make it playable online and if you can use a graphical user interface that can also undo or redo a step as well as keep a history of moves for replay.
          - name: crossword-puzzle
            is_finished: 0
            description: Create a crossword puzzle which links words together on common letters. Pro- vide a list of clues for each word and let the user enter fill in the words until the entire crossword is filled in.
          - name: find-way-out-of-maze
            is_finished: 0
            description: Develop an algorithm that allows a mouse to navigate through any maze given enough time.
          - name: frogger
            is_finished: 0
            description: Get your frog across the river and lanes of traffic by either jumping on logs and lily pads rushing by at different speeds or avoid the automobiles which are also moving at various speeds. Based on the old arcade game.
          - name: game-of-memory
            is_finished: 0
            description: Make a game where you have 8, 16, 32 or 64 cards which are to be matched in pairs. The user enters which two cards to turn over to see if they are a pair. Show the user the cards they turned over, if they match remove them from the game. If they do not match, flip them back over. For added complexity, impose a time limit or a turn limit.
          - name: guitar-hero-clone
            is_finished: 0
            description: Create your own version of guitar hero where you can incorporate your own music and allow the user to press keys for the various colored notes. Judge their accuracy.
          - name: hangman
            is_finished: 0
            description: Randomly select a word from a file, have the user guess characters in the word. For each character they guess that is not in the word, have it draw another part of a man hanging in a noose. If the picture is completed before they guess all the characters, they lose.
          - name: number-guessing
            is_finished: 0
            description: Randomly choose a number in a range of numbers and have the user guess. If their guess is too low, tell them too low and if their guess is too high tell them too high. Let them continue to guess until they get the right answer. Keep track of the number of guesses they made before getting it right.
          - name: ice-and-dice
            is_finished: 0
            description: Have the user roll three dice. Each face that has a dot in the middle is said to have a hole in the ice. Each dot not in the center is said to be a polar bear. Have the user enter the number of holes and polar bears in a given time period. So for example if you have the side with 1 dot (in the middle) it is 1 hole and no polar bears. The number 2 has no dot in the middle but two dots in the corners so it has no holes and 2 polar bears. The number 3 has one dot in the middle and two dots in the corners so it has 1 hole and 2 polar bears. The number 4 has no holes and 4 polar bears. Five has 1 hole and 4 polar bears etc.
          - name: magic-eight-ball
            is_finished: 0
            description: Create a file full of random sayings and answers. Then have the magic eight ball pick one at random in response to a users question. Allow the user to enter the question and then show them the randomly picked answer.
          - name: pac-man
            is_finished: 0
            description: Another arcade classic, move Pac man around a maze gobbling up pellets and trying to avoid a group of ghosts. Power pellets allow Pac man to eat the ghosts for a limited time.
          - name: pin-ball
            is_finished: 0
            description: I think we all know how pin ball works. Make a game where the user controls to mini paddles and keeps a ball in play, bouncing off various items and navigating through the course for various points. For added complexity, create a high score list.
          - name: poker-online
            is_finished: 0
            description: Create a poker game where you can have 2 5 players be it real or computer controlled. Allow each player is given two cards face down which they must match against 5 community cards. The flop, the turn and the river to create the best hand possible. Each round they bet or fold.
          - name: slot-machine
            is_finished: 0
            description: Make a slot machine where the user can enter how many coins they are willing to bet and pull the handle. Have one of three wheels land on a random picture. Certain combinations of pictures yield coins. Others might be wild cards. For added complexity, allow the user to play not only the top, center and bottom row but also diagonals.
          - name: snake-game
            is_finished: 0
            description: Create a board where you start out with a small snake. The goal is to eat as much food that appears on the board as possible without it running into its own body. Each time it eats food the snake grows longer. How long can you make your snake?
          - name: tic-tac-toe-online
            is_finished: 0
            description: A simple game of tic tac toe. For added complexity allow the application to be played over the internet where another player can against you.
---

{% for cat in page.tags %}
    {% for tag in cat.contents %}
        {% include accordion.html tag = tag %}
    {% endfor %}
{% endfor %}

