body {
    background-color : #FFF1CE;
    font-family      : sans-serif;
}
div#controller {
    position      : fixed;
    float         : right;
    right         : 0.1em;
    top           : 3.8em;
    border-radius : 0.5em;
    box-shadow    : 0 0 1px #a2a2a4;
    z-index       : 500;
}
