---
layout: base
title: multimedia in js-projects
slug: multimedia&game
base_url: "../"
tags:
  - category: multimedia&game
    contents:
      - sort: graphics-and-multimedia
        is_collapsed: 0
        links:
          - name: bulk-picture-manipulator
            is_finished: 0
            description: This program will take in a directory of pictures and apply a certain effect to them whether it be reducing color count, changing its format, or alter file at- tributes. For something extra try to see if you can also create a system to tag them.
          - name: cd-burning-app
            is_finished: 0
            description: Create a utility that simply burns data to a CD.
          - name: clock.js
            is_finished: 1
            description: Clock simulation.
          - name: image-browser
            is_finished: 0
            description: This application is used to view various image files on your computer from PNG, GIF, JPG to BMP, TIFF etc.
          - name: import-picture-and-save-as-grayscale
            is_finished: 0
            description: A utility that sucks the color right out of an image and saves it. You could add more including adjusting contrast, colorizing and more for added complexity.
          - name: mind-mapper
            is_finished: 0
            description: Allow the user to put down ideas and quickly brainstorm how they are related into a mind map. The goal here is speed so let the user quickly write in an idea and drag it around in a visual map to show relationships.
          - name: mp32wav-converter
            is_finished: 0
            description: MP3 is essentially compressed wav format. See if you can translate it back into wav so that some other sound editing programs can work with the wav file itself. Keep in mind that 1 MB of MP3 is relative 10MB wav.
          - name: mp3-player
            is_finished: 0
            description: A simple program for playing your favorite music files. For extra complexity see if you can add in playlists and an equalizer.
          - name: screen-capture-program
            is_finished: 0
            description: Make a utility that will simply capture a frame from your web cam. For added complexity see if you can also build in emailing functionality.
          - name: screen-saver
            is_finished: 0
            description: Make a screensaver program that will run while your computer sits idle. To make a simple one use some standard pictures and then for added complexity try a 3D object that spins around the screen and bounces off the sides.
          - name: signature-maker
            is_finished: 0
            description: Ever seen those web board posts where someone has a generated signature made up? See if you can make a program that allows the user to specify a background, text, colors and alignment to make their own signatures or userbars.
          - name: slide-show
            is_finished: 0
            description: Make an application that shows various pictures in a slide show format. For ex- tra complexity try adding various effects like fade in/out, star wipe and window blinds transitions.
          - name: sorting-visualization
            is_finished: 1
            description: Visualization of all kinds of sorting algorithm
          - name: stream-video-from-online
            is_finished: 0
            description: Try to create your own online streaming video player.
          - name: traffic-light-app
            is_finished: 0
            description: See if you can make your own street light application and then put it into an intersection scenario. Dont let any cars run the lights and crash into one another!
          - name: turtle-graphics
            is_finished: 0
            description: This is a common project where you create a floor of 20 x 20 squares and using various commands you tell a turtle to draw a line on the floor. You have move forward, left or right, lift or drop pen etc. For added complexity, allow the program to read in the list of commands from a file. Do a search online for Turtle Graphics for more information.
          - name: wallpaper-manager
            is_finished: 0
            description: Make a program which keeps track of your favorite wallpapers, changes them regularly automatically and maybe even resizes them for your resolution (aka tiles one and stretches another).
          - name: watermarking-app
            is_finished: 0
            description: Have some pictures you want copyright protected? Add your own logo or text lightly across the background so that no one can simply steal your graphics off your site. Make a program that will add this watermark to the picture.
          - name: youtube-downloader
            is_finished: 0
            description: A program which can download videos to your hard drive from youtube.com. Save the files in various formats including FLV and AVI.
---

{% for cat in page.tags %}
    {% for tag in cat.contents %}
        {% include accordion.html tag = tag %}
    {% endfor %}
{% endfor %}

