
<div class="accordion" id="{{ include.tag.sort }}">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{ include.tag.sort }}" href="#{{ include.tag.sort }}-content">
                {{ tag.sort }}
            </a>
        </div> <!-- div.accordion-heading -->
        <div id="{{ include.tag.sort }}-content" class="accordion-body collapse {% if include.tag.is_collapsed == 0 %} in {% endif %}">
            <div class="accordion-inner">
                <table class="table table-bordered">
                    {% for link in include.tag.links %}
                    <tr>
                        <td>
                            <a href="{{ page.base_url }}{{ include.tag.sort }}/{{ link.name }}" class="btn btn-block btn-default" title="{{ link.description }}" {% if link.is_finished == 0 %} disabled {% endif %}>
                                {{ link.name }}
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-block btn-default btn-popover" data-content="{{ link.description }}" data-title="{{ link.name }}">
                                description
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div> <!-- div.accordion-body -->
    </div> <!-- div.accordion-group -->
</div> <!-- div.accordion -->

