<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="{{page.extra_desc}} javascript version of Martyr2’s Mega Project List. A good way to learn javascript.">
<meta name="keywords" content="{{page.extra_keywords}} js javascript projects project list js-projects html5 programming programmer leungwensen vincent learning github bootstrap jquery">
<meta name="author" content="leungwensen@gmail.com">
<meta name="copyright" content="Copyright © leungwensen 2013"/>
<meta charset="utf-8">
<link rel="alternate" type="application/rss+xml" title="{{site.name}}" href="{{site.url}}/feed.xml">
<link rel="alternate" type="application/rss+xml" title="{{site.name}} - Links" href="{{site.url}}/feed.links.xml">
<link rel="alternate" type="application/rss+xml" title="{{site.name}} - Categories" href="{{site.url}}/feed.categories.xml">
<link rel="alternate" type="application/rss+xml" title="{{site.name}} - Articles" href="{{site.url}}/feed.articles.xml">
<link rel="shortcut icon" href="{{page.base_url}}assets/ico/fav.ico">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="{{page.base_url}}assets/css/global/style.css" rel="stylesheet">
