<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{{ page.title }}</title>

<!-- bootstrap.css and main.css -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ page.base_url }}css/main.css" rel="stylesheet">

<!-- extra stylesheets -->

<!-- Favicons
<link rel="shortcut icon" href="{{ page.base_url }}assets/ico/favicon.png">
-->

