
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{ page.base_url }}" class="navbar-brand {% if page.slug == 'numbers' %}active{% endif %}">js-projects</a>
        <nav class="nav-collapse collapse">
            <ul class="nav navbar-nav">

                {% for cat in include.tags %}
                <li class="dropdown {% if page.slug == cat.category %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>{{ cat.category }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    {% for tag in cat.contents %}
                        <li><a href="{{ page.base_url }}{{ tag.sort }}">{{ tag.sort }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}

            </ul>

            <ul class="nav navbar-nav pull-right">
                <li class="dropdown permission-4">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="nav-icon img-rounded" src="http://www.gravatar.com/avatar/800427317aa5d4e81ce1bca5a202ae0f.png" alt="" />
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a target="_black" href="https://github.com/leungwensen/js-projects">Fork me on GitHub</a></li>
                        <li class="divider"></li>
                        <li>
                            <!-- social -->
                            <a href="https://twitter.com/intent/tweet?button_hashtag=js-projects&text=javascript%20projects!"
                               class="twitter-hashtag-button" data-related="leungwensen"
                               data-url="http://leungwensen.github.io/js-projects/">
                               Tweet #js-projects
                            </a>
                            <div class="g-plus" data-action="share"></div>
                            <div class="fb-like" data-width="50" data-show-faces="true" data-send="true"
                                 data-href="http://leungwensen.github.io/js-projects/">
                            </div>
                            <!-- end social -->
                        </li>
                        <li class="divider"></li>
                        <li><a target="_black" href="http://www.dreamincode.net/forums/topic/78802-martyr2s-mega-project-ideas-list/">Martyr2’s Mega Project List</a></li>
                        <li><a target="_black" href="http://getbootstrap.com/">styled by Bootstrap3</a></li>
                        <li><a target="_black" href="http://jekyllrb.com/">powered by jekyll</a></li>
                        <li class="divider"></li>
                        <li>
                            <a id="show-modal-log" href="#modal-log" data-toggle="modal">
                                log
                            </a>
                            <a id="show-modal-resource" href="#modal-resource" data-toggle="modal">
                                resource
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

