
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{ page.base_url }}" class="navbar-brand {% if page.slug == 'numbers' %}active{% endif %}">js-projects</a>
        <nav class="nav-collapse collapse">
            <ul class="nav navbar-nav">

                {% for tag in include.tags %}
                <li class="dropdown {% if page.slug == tag.sort %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ tag.sort }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ page.base_url }}{{ tag.sort }}">list</a></li>
                        <li class="divider"></li>
                        {% for link in tag.links %}
                        <li><a href="{{ page.base_url }}{{ tag.sort }}/{{ link }}">{{ link }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}

            </ul>

            <ul class="nav navbar-nav pull-right">
                <li class="dropdown permission-4">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="nav-icon img-rounded" src="http://www.gravatar.com/avatar/800427317aa5d4e81ce1bca5a202ae0f.png" alt="" />
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a target="_black" href="https://github.com/leungwensen/js-projects">Fork me on GitHub</a></li>
                        <li class="divider"></li>
                        <li>

                            <a href="https://twitter.com/intent/tweet?button_hashtag=js-projects&text=javascript%20projects!"
                               class="twitter-hashtag-button" data-related="leungwensen"
                               data-url="http://leungwensen.github.io/js-projects/">
                               Tweet #js-projects
                            </a>
                            <div class="g-plus" data-action="share"></div>
                            <div class="fb-like" data-width="50" data-show-faces="true" data-send="true"
                                 data-href="http://leungwensen.github.io/js-projects/">
                            </div>

                            <script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>
                            <div class="renren-share" style="display: inline" name="xn_share" onclick="shareClick()" type="icon" href="javascript:;"></div>
                            <script type="text/javascript">
                                function shareClick() {
                                    var rrShareParam = {
                                        resourceUrl:location.href,
                                        srcUrl:'',//分享的资源来源Url,默认为header中的Referer,如果分享失败可以调整此值为resourceUrl试试
                                        pic:'',   //分享的主题图片Url
                                        title:'javascript projects',    //分享的标题
                                        description:'by leungwensen'    //分享的详细描述
                                    };
                                    rrShareOnclick(rrShareParam);
                                }
                            </script>

                            <script type="text/javascript" charset="utf-8">
                                (function(){
                                    var _w = 72 , _h = 16;
                                    var param = {
                                        url:location.href,
                                        type:'3',
                                        count:'1', /**是否显示分享数，1显示(可选)*/
                                        appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
                                        title:'', /**分享的文字内容(可选，默认为所在页面的title)*/
                                        pic:'', /**分享图片的路径(可选)*/
                                        ralateUid:'1846799332', /**关联用户的UID，分享微博会@该用户(可选)*/
                                        language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
                                        dpc:1
                                    };
                                    var temp = [];
                                    for( var p in param ){
                                        temp.push(p + '=' + encodeURIComponent( param[p] || '' ) );
                                    }
                                    document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://service.weibo.com/staticjs/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>');
                                })()
                            </script>

                        </li>
                        <li class="divider"></li>
                        <li><a target="_black" href="http://getbootstrap.com/">styled by Bootstrap3</a></li>
                        <li><a target="_black" href="http://jekyllrb.com/">powered by jekyll</a></li>
                        <li class="divider"></li>
                        <li>
                            <a id="show-modal-log" href="#modal-log" data-toggle="modal">
                                log
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

