---
layout: base
base_url: "../"
back_links:
  - title: home
    url: 
slug: web
title: networking in js-projects
extra_desc: networking related projects
extra_keywords: network networking web
tags:
  - category: web
    contents:
      - sort: networking
        total_amount: 15
        finished_amount: 0
        is_collapsed: 0
        links:
          - name: chat-app
            is_finished: 0
            description: Create a chat application that can carry on simple chat rooms like on Internet Relay Chat or a more direct chatting style like MSN. For added complexity, create your own protocol to facilitate this chatting.
          - name: country-from-ip
            is_finished: 0
            description: Enter an IP address and find the country that IP is registered in.
          - name: fetch-current-weather
            is_finished: 0
            description: Get the current weather for a given zip/postal code.
          - name: ftp-program
            is_finished: 0
            description: A file transfer program which can transfer files back and forth from a remote web sever.
          - name: get-atomic-time
            is_finished: 0
            description: This program will get the true atomic time from an atomic time clock on the internet. There are various clocks across the world. Do a search for a list of them.
          - name: mail-checker
            is_finished: 0
            description: The user enters various account information include web server and IP, proto- col type (POP3 or IMAP) and the application will check for email on several accounts at a given interval.
          - name: p2p-file-sharing-app
            is_finished: 0
            description: Create a program like LimeWire, FrostWire, Bearshare, or a torrent style ap- plication.
          - name: packet-sniffer
            is_finished: 0
            description: A utility program that will read packets coming in and out of the machine along with related information like destination and payload size.
          - name: port-scanner
            is_finished: 0
            description: Enter an IP address and a port range where the program will then attempt to find open ports on the given computer by connecting to each of them. On any successful connections mark the port as open.
          - name: remote-login
            is_finished: 0
            description: Create a remote desktop style application which can see and control the remote computer (given you have permissions). It may require the use of your own private network and a second computer to test with.
          - name: small-web-server
            is_finished: 0
            description: A simple web server that can serve HTML files that contain Javascript and other forms of non-code executing code. Added complexity would be to try and implement streaming video, create a server-side language, or serve up other stream types.
          - name: site-checker
            is_finished: 0
            description: An application that attempts to connect to a website or server every so many minutes or a given time and check if it is up. If it is down, it will notify you by email or by posting a notice on screen.
          - name: web-bot
            is_finished: 0
            description: An automated program which carries out tasks on the web including checking websites, page scraping, and summarization of data or web posting.
          - name: whois-search
            is_finished: 0
            description: Enter an IP or host address and have it look it up through whois and return the results to you.
          - name: zip-postal-code-lookup
            is_finished: 0
            description: Enter a zip or postal code and have it return which city/ cities that are in that zip code.
---
{% for cat in page.tags %}
    {% for tag in cat.contents %}
        {% include accordion.html tag = tag %}
    {% endfor %}
{% endfor %}
