---
layout: base
title: classes in js-projects
slug: advanced
base_url: "../"
tags:
  - category: advanced
    contents:
      - sort: classes
        total_amount: 17
        finished_amount: 0
        is_collapsed: 0
        links:
          - name: airline-hotel-reservation
            is_finished: 0
            description: Create a reservation system which books airline seats or hotel rooms charging various rates for particular sections of the plane or hotel. Example, first class is going to cost more than coach. Hotel rooms have penthouse suites which cost more. Keep track of when rooms will be available and can be scheduled.
          - name: bank-account-manager
            is_finished: 0
            description: Create a class called Account which will be an abstract class for three other classes called CheckingAccount, SavingsAccount and BusinessAccount. Man- age credits and debits from these accounts through an ATM style program.
          - name: chart-making
            is_finished: 0
            description: Create a class, or a set of classes, that generates bar charts, pie charts, his- tograms, and scatter plot charts. For added complexity, make this a service where people can connect to a web server, supply information and it returns a chart image for them in gif or jpg format.
          - name: family-tree-creator
            is_finished: 0
            description: Create a class called Person which will have a name, when they were born and when (and if) they died. Allow the user to create these Person classes and put them into a family tree structure. Print out the tree to the screen.
          - name: flower-shop-ordering
            is_finished: 0
            description: Create a flower shop application which deals in flower objects and use those flower objects in a bouquet object which can then be sold. Keep track of the number of objects and when you may need to order more.
          - name: image-gallery
            is_finished: 0
            description: Create an image abstract class and then a class that inherits from it for each image type. Put them in a program which displays them in a gallery style for- mat for viewing.
          - name: josephus-problem
            is_finished: 0
            description: Create a program which links together various node objects and then every Nth object is removed until you have one object left. This last object is the sole survivor. Look it up on Google under Josephus Algorithm.
          - name: large-number
            is_finished: 0
            description: We know that the basic data types like integer, long, double, and floats only go so far. Create a class that can manage extremely large numbers like those used in space exploration.
          - name: library-catalog
            is_finished: 0
            description: Create a book class with a title, page count, ISBN and whether or not it is checked out or not. Manage a collection of various books and allow the user to check out books or return books. For added complexity generate a report of those books overdue and any fees. Also allow users to put books on reserve.
          - name: matrix
            is_finished: 0
            description: A class to manage matrices. Add, subtract and multiple matrices.
          - name: movie-store
            is_finished: 0
            description: Manage video rentals and controls when videos are checked out, due to return, overdue fees and for added complexity create a summary of those accounts which are overdue for contact.
          - name: patient-doctor-scheduler
            is_finished: 0
            description: Create a patient class and a doctor class. Have a doctor that can handle mul- tiple patients and setup a scheduling program where a doctor can only handle 16 patients during an 8 hr work day.
          - name: product-inventory
            is_finished: 0
            description: Create an application which manages an inventory of products. Create a prod- uct class which has a price, id, and quantity on hand. Then create an inventory class which keeps track of various products and can sum up the inventory value.
          - name: recipe-creator-and-manager
            is_finished: 0
            description: Create a recipe class with ingredients and a put them in a recipe manager program that organizes them into categories like deserts, main courses or by ingredients like chicken, beef, soups, pies etc.
          - name: shape-area-and-perimeter
            is_finished: 0
            description: Create an abstract class called Shape and then inherit from it other shapes like diamond, rectangle, circle, triangle etc. Then have each class override the area and perimeter functionality to handle each shape type.
          - name: student-grade-book
            is_finished: 0
            description: Keep track of students (with a student class that has their name, average, and scores) in a class and their grades. Assign their scores on tests and assignments to the students and figure out their average and grade for the class. For added complexity put the students on a bell curve.
          - name: vending-machine
            is_finished: 0
            description: Create an application which takes money and dispenses various types of candy or other item. The user enters a number and letter sequence, like D9, and have it return an instance of Item which of the proper type. Example when they press D9 it will return a type of candy bar which is an instance of Mr GoodBar.
---

{% for cat in page.tags %}
    {% for tag in cat.contents %}
        {% include accordion.html tag = tag %}
    {% endfor %}
{% endfor %}

