body {
    background-color : #FFF1CE;
    height           : 100%;
    font-family      : sans-serif;
}
div#controller {
    position      : fixed;
    float         : right;
    right         : 0.1em;
    top           : 3.8em;
    border-radius : 0.5em;
    box-shadow    : 0 0 1px #a2a2a4;
    opacity       : 0.8;
    z-index       : 500;
}
div#controller:hover {
    opacity       : 1;
}
div#controller table {
    margin: 0;
}
#svg-area {
    overflow-x: hidden;
}
