---
layout: base
title: numbers in js-projects
slug: basic
base_url: "../"
tags:
  - category: basic
    contents:
      - sort: numbers
        is_collapsed: 0
        links:
          - name: alerm-clock
            is_finished: 0
            description: A simple clock where it plays a sound after X number of minutes/seconds or at a particular time.
          - name: bigint.js
            is_finished: 1
            description: Big interger library for javascript.
          - name: binary2decimal-and-back
            is_finished: 1
            description: Converter to convert a decimal number to binary or a binary number to its decimal equivalent.
          - name: calculator
            is_finished: 0
            description: A simple calculator to do basic operators. Make it a scientific calculator for added complexity.
          - name: change-return
            is_finished: 1
            description: The user enters a cost and then the amount of money given. The program will figure out the change and the number of quarters, dimes, nickels, pennies needed for the change.
          - name: cost-of-tile
            is_finished: 1
            description: Calculate the total cost of tile it would take to cover a floor plan of width and height, using a cost entered by the user.
          - name: credit-card-validator
            is_finished: 0
            description: Takes in a credit card number of a common credit card vendor (Visa, Master- Card, American Express, Discoverer) and validates it to make sure that it is a valid number (look into how credit cards use a checksum).
          - name: distance-between-2-cities
            is_finished: 0
            description: Calculates the distance between two cities and allows the user to specify a unit of distance. This program may require finding coordinates of the cities like lat- itude and longitude.
          - name: dijkstras-algorithm
            is_finished: 0
            description: Create a program that finds the shortest path through a graph using its edges.
          - name: fibonacci-sequence
            is_finished: 1
            description: Enter a number and have the program generate the Fibonacci sequence to that number or to the Nth number.
          - name: mortgage-calculator
            is_finished: 1
            description: Calculate the monthly payments of a fixed term mortgage over given Nth terms at a given interest rate. Also figure out how long it will take the user to pay back the loan.
          - name: next-prime-number
            is_finished: 1
            description: Have the program find prime numbers until the user chooses to stop the asking for the next one.
          - name: pi-to-nth-digit
            is_finished: 1
            description: Enter a number and have the program generate PI up to that many decimal places. Keep a limit to how far the program will go.
          - name: prime-factorization
            is_finished: 1
            description: Have the user enter a number and find all Prime Factors (if there are any) and display them.
          - name: tax-calculator
            is_finished: 0
            description: Asks the user to enter a cost and either a country or state tax. It then returns the tax plus the total cost with tax.
          - name: unit-converter
            is_finished: 0
            description: Converts various units between one another. The user enters the type of unit being entered, the type of unit they want to convert to and then the value. The program will then make the conversion.
---

{% for cat in page.tags %}
    {% for tag in cat.contents %}
        {% include accordion.html tag = tag %}
    {% endfor %}
{% endfor %}

