---
layout: base
base_url: "../"
slug: basic
title: text in js-projects
extra_desc: text related projects
extra_keywords: text string basic
tags:
  - category: basic
    contents:
      - sort: text
        total_amount: 17
        finished_amount: 0
        is_collapsed: 0
        links:
          - name: cd-key-generator
            is_finished: 0
            description: Generates a unique key for your applications to use based on some arbitrary algorithm that you can specify. Great for software developers looking to make shareware that can be activated.
          - name: check-if-is-palindrome
            is_finished: 0
            description: Checks if the string entered by the user is a palindrome. That is that it reads the same forwards as backwards like racecar
          - name: count-words-in-string
            is_finished: 0
            description: Counts the number of individual words in a string. For added complexity read these strings in from a text file and generate a summary.
          - name: count-vowel
            is_finished: 0
            description: Enter a string and the program counts the number of vowels in the text. For added complexity have it report a sum of each vowel found.
          - name: guestbook-journal
            is_finished: 0
            description: A simple application that can be for online that can allow people to add com- ments or write journal entries. It can allow comments or not and timestamps all entries. Could also be made into a shout box.
          - name: fortune-teller
            is_finished: 0
            description: A program that checks your horoscope on various astrology sites and puts them together for you each day.
          - name: news-ticker-and-game-scores
            is_finished: 0
            description: A program which sits on your desktop and aggregates news and game scores from various sources on the net and scrolls them across the screen on regular intervals.
          - name: post-notes
            is_finished: 0
            description: A program where you can add text reminders and post them. You can have the program also add popup reminders.
          - name: pig-latin
            is_finished: 0
            description: Pig Latin is a game of alterations played on the English language game. To form the Pig Latin form of an English word the initial consonant sound is trans- posed to the end of the word and an ay is affixed (Ex. ”banana” would yield anana-bay). Read Wikipedia for more information on rules.
          - name: quote-tracker
            is_finished: 0
            description: A program which can go out and check the current value of stocks for a list of symbols entered by the user. The user can set how often the stocks are checked and the program can show green up and red down arrows to show which direc- tion the stock value has moved.
          - name: random-gift-suggestions
            is_finished: 0
            description: Enter various gifts for certain people when you think of them and when its time to give them a gift (xmas, birthday, anniversary) it will randomly pick one and perhaps places you can get it.
          - name: regex-query-tool
            is_finished: 0
            description: A tool that allows the user to enter a text string and then in a separate control enter a regex pattern. It will then run the regular expression against the source text and return any matches or flag errors in the regular expression.
          - name: reverse-string
            is_finished: 0
            description: Enter a string and the program will reverse it and print it out.
          - name: rss-feed-creator
            is_finished: 0
            description: A program which can read in text from other sources and put it in RSS or Atom news format for syndication.
          - name: text2html-generator
            is_finished: 0
            description: Converts text files into web HTML files and stylizes them. Great for making online documentation of standard text documentation.
          - name: text-editor
            is_finished: 0
            description: Notepad style application that can open, edit, and save text documents. Add syntax highlighting and other features.
          - name: vigenere-vernam-ceasar-ciphers
            is_finished: 0
            description: Functions for encrypting and decrypting data messages. Then send them to a friend.
---

{% for cat in page.tags %}
    {% for tag in cat.contents %}
        {% include accordion.html tag = tag %}
    {% endfor %}
{% endfor %}

