---
layout: base
title: web in js-projects
slug: web
base_url: "../"
tags:
  - category: web
    contents:
      - sort: web
        total_amount: 16
        finished_amount: 0
        is_collapsed: 0
        links:
          - name: bandwidth-monitor
            is_finished: 0
            description: A small utility program that tracks how much data you have uploaded and downloaded from the net during the course of your current online session. See if you can find out what periods of the day you use more and less and generate a report or graph that shows it.
          - name: bookmark-collector-and-sorter
            is_finished: 0
            description: An application that you can put online for people to upload bookmarks to, have it sort them, remove duplicates and export the entire list as a Firefox/IE/ Safari bookmark file. For added complexity see if you can group the bookmark items into various folders.
          - name: captcha-maker
            is_finished: 0
            description: Ever see those images with letters a numbers when you signup for a service and then asks you to enter what you see? It keeps web bots from automatically signing up and spamming. Try creating one yourself for online forms. If you use PHP, take a look at the image functions of GD.
          - name: content-management-system
            is_finished: 0
            description: Create a content management system (CMS) like Joomla, Drupal, PHP Nuke etc. Start small and allow for the addition of modules/addons later.
          - name: e-card-generator
            is_finished: 0
            description: Make a site that allows people to generate their own little e-cards and send them to other people. Can use flash or not. Use a picture library and perhaps insightful mottos or quotes.
          - name: file-downloader
            is_finished: 0
            description: An application which can download various objects on a page including video streams or all files on a page. Great for pages with a lot of download links.
          - name: media-player-widget-for-igoogle
            is_finished: 0
            description: Create an iGoogle gadget which can play various song lists from your computer as well as share one song daily. Perhaps let people look up which songs you have listened to lately.
          - name: online-white-board
            is_finished: 0
            description: Create an application which allows you and friends to collaborate on a white board online. Draw pictures, write notes and use various colors to flesh out ideas for projects. For added complexity try building in picture tubes.
          - name: page-scraper
            is_finished: 0
            description: Create an application which connects to a site and pulls out all links or images and saves them to a list. For added complexity, organize the indexed content and dont allow duplicates. Have it put the results into an easily searchable index file.
          - name: password-safe
            is_finished: 0
            description: A program which keeps track of passwords for sites or applications and encrypts them with a key so that no one can read them.
          - name: scheduled-auto-login-and-action
            is_finished: 0
            description: Make an application which logs into a given site on a schedule and invokes a certain action and then logs out. This can be useful for checking web mail, posting regular content, or getting info for other applications and saving it to your computer.
          - name: telnet-app
            is_finished: 0
            description: Create an application which can telnet into servers across the internet and run basic commands.
          - name: template-maker
            is_finished: 0
            description: Make a site or application which allows the user to enter in various color codes, elements, dimensions and constructs a template file for a particular application like PHPBB, Invision Board, MySpace, Bebo, etc.
          - name: text-based-game
            is_finished: 0
            description: Create a simple text based RPG like Utopia where you can create a civilization, gather resources, forge alliances, cast spells and more on a turn based system. See if you can dominate the kingdom.
          - name: web-browser
            is_finished: 0
            description: Create a small web browser that allows you to navigate the web and contains tabs which can be used to navigate to multiple web pages at once. For simplicity dont worry about executing Javascript or other client side code.
          - name: wysiwg-editor
            is_finished: 0
            description: Create an editor online which allows people to move around elements, create tables, write text, set colors etc for web pages without having to know HTML. Think Dreamweaver or FrontPage but for online sites. If you need an example check out the DIC page used to create a post.
---

{% for cat in page.tags %}
    {% for tag in cat.contents %}
        {% include accordion.html tag = tag %}
    {% endfor %}
{% endfor %}

